@use "./mixins/mixins.scss" as *;

@include b(tree) {
  display: inline-block;
}
@include b(tree-node) {
  padding: 5px 0;
  font-size: 16px;
  &:hover {
    background-color: rgb(195, 195, 234);
  }
  @include e(content){
    display: flex;
    align-items: center;
    @include is(selected){
      background-color: aqua;
    }
  }
  @include e(expand-icon){
    display: inline-flex;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform .2s ease-in;
    cursor: pointer;
    &.expanded{
      transform: rotate(90deg);
    }
    @include is(leaf){
      opacity: 0;
      cursor: default;
    }
  }

}
